.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    flex-direction: column;
}

.modal-header {
    background-color: #fbbc34;
}

#custom-alert {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #32CD32;
    color: #fff;
    padding: 10px;
    z-index: 9999;
    display: none;
}

#alert-message {
    margin: 0 890px;
    text-align: center;
    font-size: 20px;
}

#InviteBttn button {
    disabled: true;
}