@model User
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello World - From Eddie and Charley!</h1>
    <p>First Commit<p/>
        <p>@Model.EmailAddress</p>
        <p>@Model.UserType</p>
        <p>@Model.UserName</p>
        <p>@Model.UserId</p>
</div>
